@import '_variables';
@import '_fonts';
@import '_common';
@import '_resets';

:root {
  --ui-c-primary: #{$c-primary};
  --ui-c-primary-subtle: #{$c-primary-subtle};
  --ui-c-primary-highlight: #{$c-primary-highlight};

  --ui-c-light: #{$c-light};
  --ui-c-light-subtle: #{$c-light-subtle};
  --ui-c-light-highlight: #{$c-light-highlight};

  --ui-c-dark: #{$c-dark};
  --ui-c-dark-subtle: #{$c-dark-subtle};
  --ui-c-dark-highlight: #{$c-dark-highlight};

  --ui-font: 'Rubik', sans-serif;
  --ui-font-size: 16px;

  --ui-border-radius-none: 0;
  --ui-border-radius-small: 0.25em;
  --ui-border-radius-medium: 0.5em;
  --ui-border-radius-large: 1em;
  --ui-border-radius-circle: 50%;
  --ui-border-radius-pill: 1000px;

  //* Theming
  --ui-c-theme-font: var(--ui-c-light);
  --ui-c-theme-font-subtle: var(--ui-c-light-subtle);
  --ui-c-theme-font-highlight: var(--ui-c-light-highlight);
  --ui-c-theme-background: var(--ui-c-dark-subtle);

  //* Layout
  --ui-container-x-spacing: 0em;
}

@media (min-width: $breakpoint-handheld) {
  :root {
    --ui-container-x-spacing: 2em;
  }
}

@media (min-width: $breakpoint-tablet) {
  :root {
    --ui-container-x-spacing: 3em;
  }
}

body {
  font-family: var(--ui-font);
  color: var(--ui-c-theme-font);
  background: var(--ui-c-dark);
  font-size: var(--ui-font-size);
}
