

  @import '_variables';
  @import '_helpers';
  @import '_fonts.scss';

  //* ------
  //* Resets
  //* ------

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    line-height: 90%;
  }

  a {
    color: #{map-get($colors, 'primary')};
  }

  a:visited {
    color: #{map-get($colors, 'primary-darker')};
  }

  body {

    --ui-c-primary: #{map-get($colors, 'primary')};
    --ui-c-light: #{map-get($colors, 'light')};
    --ui-c-dark: #{map-get($colors, 'dark')};

    --ui-font: #{$base-font};

    --ui-size-tiny:   #{map-get($sizes, 'tiny')};
    --ui-size-small:  #{map-get($sizes, 'small')};
    --ui-size-medium: #{map-get($sizes, 'medium')};
    --ui-size-large:  #{map-get($sizes, 'large')};
    --ui-size-giant:  #{map-get($sizes, 'giant')};

    padding: 0;
    margin: 0;
    font-family: var(--ui-font);
    color: var(--ui-c-light);
    background: var(--ui-c-dark);
    font-size: #{$base-font-size};

  }

  button:focus,
  input:focus {
    outline: none;
  }

  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  input {
    background: none;
    border: none;
  }

  label {
    cursor: pointer;
  }