@import '_variables.scss';

//* Buttons, Button-like icons, input elements.
/*
**  Should be used on
**  - Buttons
**  - Inputs
**  - Button-like elements
**
**  Adds new z-index variable called --z
**  Uses variable to layout child elements
*/

@mixin interactable($hover: null, $focus: null, $active: null) {
  cursor: pointer;
  position: relative;
  overflow: hidden;

  --z: 1;

  //* Visible interaction are shown in this element
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
    z-index: calc(var(--z) + 1);
    transition: background 400ms;
  }

  //* End for base props

  //* Hover
  @if $hover != null {
    &:hover::before {
      background: $state-hover;
    }
  }

  //* Focus
  @if $focus != null {
    &:focus::before {
      background-color: var(--ui-c-transparent-dark-10);
    }
    &:focus-within::before {
      background-color: var(--ui-c-transparent-dark-10);
    }
  }

  //* Active
  @if $active != null {
    &:active::before {
      background: $state-active;
    }
  }

  & > * {
    z-index: calc(var(--z) + 2);
  }
}

@mixin scrollbar($direction: y) {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100px;
  }

  &::-webkit-scrollbar:hover {
    background-color: hsla(0, 0%, 0%, 0.09);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 100px;
  }

  /* add vertical min-height & horizontal min-width */
  &::-webkit-scrollbar-thumb:vertical {
    min-height: 10px;
  }

  &::-webkit-scrollbar-thumb:horizontal {
    min-width: 10px;
  }
  @supports (scrollbar-width: thin) {
    & {
      scrollbar-color: var(--ui-c-dark-highlight) var(--ui-c-dark-subtle);
      scrollbar-width: thin;
    }
  }

  @if $direction==x {
    overflow-x: scroll;
  }

  @if $direction==y {
    overflow-y: scroll;
  }
}
