@import '_variables';

@keyframes element-active {
  25% {
    transform: translateY(calc(var(--size, 1) * 0.1em));
  }
}
//TODO figure way to make click events look something sane
@keyframes background-click-effect {
  0% {
    background: $state-active;
  }

  // 50% {
  //   background: hsla(0, 0%, 33%, .4);
  // }

  100% {
    background: $state-active;
  }
}
