@import '_helpers';

//* Base

$base-border-width: 2px;

//* State
$state-hover: hsla(0, 0%, 100%, 0.05);
$state-active: hsla(0, 0%, 0%, 0.1);
$state-active-border: hsla(0, 0%, 50%, 0.3);
$state-active-border-width: 0.2em;
$state-active-box-shadow: 0 0 0 $state-active-border-width $state-active-border;
$state-disabled: #ccc;
$state-disable-color: #333;

//* Input
$input-text-height: 2.25em;
$input-text-width: 20em;
$input-text-padding: 0.75em;
$input-checkbox-size: 1.2em;

$button-padding: 0.5em 1em;

$text-colors: (
  ui-c-theme-font: hsl(0, 0%, 88%),
  ui-c-theme-font-subtle: hsl(0, 0%, 81%),
  ui-c-theme-font-highlight: hsl(0, 0%, 94%),
);

$breakpoint-small: 20em;
$breakpoint-medium: 48em;
$breakpoint-large: 64em;
